<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> #{title} </title>


    <!-- link for css in pug -->
    <!-- include ../static/style.css -->
    link(rel="stylesheet" href=" ../static/style.css")

</head>

<body>
    <nav>
        <ul>
            <li> <a href="home"> Home</a></li>
            <li> <a href="About">About</a></li>
            <li> <a href="Services">Services</a></li>
            <li><a href="Contact us">Contact Us</a></li>



        </ul>





    </nav>

    <div class="container">
        <h1>Gym offer(MEMBER-SHIP) Only 60$/Year-Fill Now!</h1>


        <form action="/" method="POST" id="Contact">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="text" name="Address" id="Address" placeholder="Enter your Address">
            <input type="text" name="Age" id="Age" placeholder="Enter your Age">
            <input type="text" name="gender" id="gender" placeholder="Enter your Gender">
            <input type="text" name="city" id="city" placeholder="Enter your City">
            <input type="text" name="phone" id="phone" placeholder="Enter your Contact">
            <input type="text" name="email" id="email" placeholder="Enter your Email">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Discription...."></textarea>
            <button type="btn" id="btn">Submit</button>
            
            
            <div class="col">
                <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a href="#" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                </a>
                <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                </i> Login with Google+
            </a>
        </div>
        
    </form>
    
    
    
    
</div>













</body>

</html>