li{
    list-style: none;
    padding: 10px;
    margin: 10px;
    font-size: larger;
    
    
}
ul{
   
    background-color:darkgray;
    display: flex;
    
    flex-direction: row;
    
    
}
ul,a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}

.container{
    background-color: darkcyan;
    margin: 10px auto;
    padding: 10px;
    max-width:100%;
    
}
.container,h1{
    text-align: center;
}
input,textarea{
    display: block;
    padding: 8px;
    margin: 10px auto;
    width: 55%;
    outline: none;
    border: 2px solid black;
    border-radius:8px ;
}
ul,:hover{
    color: blue;
}
button{
    width: 30%;
    padding: 12px 12px;
    margin: 12px auto;
    background-color: cornflowerblue;
   font-size: 14px;
   font-weight: bold;
   border-radius: 4px;
    display: block;
    font-size: 25px;
}

.col,a{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    padding: 16px 16px;
    list-style: none;
    
 
  
}
.fb {
    background-color: #3B5998;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
   
  }
  
.twitter {
    background-color: #55ACEE;
    color:white;
    border: 2px solid black;
    border-radius: 4px;
    
  }
  
  .google{
    background-color: #dd4b39;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
   
  }



